name: Build

on: [push, pull_request]

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup MSYS2 and Mingw-w64
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-ninja
          git
    
    - name: Configure with CMake
      shell: msys2 {0}
      run: |
        cmake -S . -B build -G Ninja
    
    - name: Build
      shell: msys2 {0}
      run: |
        cmake --build build --config Release
    
    - name: Run executable
      shell: msys2 {0}
      run: |
        ./build/VertexEngine.exe || echo "Program may have run and exited"
