name: Build - Direct Compilation

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup MSYS2 and install compiler
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-g++
          git
          make
    
    - name: Download ALL dependencies
      shell: msys2 {0}
      run: |
        # Download raylib
        wget https://github.com/raysan5/raylib/releases/download/5.0/raylib-5.0_win64_mingw-w64.zip
        unzip raylib-5.0_win64_mingw-w64.zip
        
        # Download all headers to project root
        wget -O tiny_gltf.h https://raw.githubusercontent.com/syoyo/tinygltf/master/tiny_gltf.h
        wget -O json.hpp https://raw.githubusercontent.com/nlohmann/json/develop/single_include/nlohmann/json.hpp
        wget -O stb_image.h https://raw.githubusercontent.com/nothings/stb/master/stb_image.h
        wget -O imgui.h https://raw.githubusercontent.com/ocornut/imgui/master/imgui.h
        wget -O imconfig.h https://raw.githubusercontent.com/ocornut/imgui/master/imconfig.h
        wget -O imgui.cpp https://raw.githubusercontent.com/ocornut/imgui/master/imgui.cpp
        wget -O ImGuizmo.h https://raw.githubusercontent.com/CedricGuillemet/ImGuizmo/master/ImGuizmo.h
        wget -O rlImGui.h https://raw.githubusercontent.com/raylib-extras/rlImGui/main/rlImGui.h
        wget -O rlImGui.cpp https://raw.githubusercontent.com/raylib-extras/rlImGui/main/rlImGui.cpp
        wget -O rlImGuiColors.cpp https://raw.githubusercontent.com/raylib-extras/rlImGui/main/rlImGuiColors.cpp
        
        ls -la *.h *.cpp *.hpp
    
    - name: Compile DIRECTLY with g++
      shell: msys2 {0}
      run: |
        # Compile everything in one command
        g++ -o VertexEngine.exe \
            src/main.cpp \
            imgui.cpp \
            rlImGui.cpp \
            rlImGuiColors.cpp \
            -I. \
            -Iinclude \
            -Iraylib-5.0_win64_mingw-w64/include \
            -Lraylib-5.0_win64_mingw-w64/lib \
            -lraylib \
            -lwinmm \
            -lgdi32 \
            -lopengl32 \
            -lshell32 \
            -Wall -O3 -std=c++17 -static
        
        # Verify it works
        file VertexEngine.exe
        echo "File size: $(stat -c%s VertexEngine.exe) bytes"
    
    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: VertexEngine-Direct
        path: VertexEngine.exe
